@{
    ViewBag.Title = "Change Password";
}


@section title {    
    <h3 class="title">
        <i class="icon-user"></i>
        Change Password
    </h3>
}

@section breadcrumbs {
<div id="breadcrumbs">
    <div class="breadcrumb-button blue">
        <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>

    <div class="breadcrumb-button">
        <span class="breadcrumb-label">
        <i class="icon-user"></i> Change Password
        </span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
</div>
}

<div class="alert alert-success">
    Your password has been changed successfully.
</div>

