.sh-header-left, .sh-header-right 
{
    color: #fff;
    background-color: #ED3022;
    font-weight: 100;
    font-size: 1em;
    padding: 5px 10px;
}

.sh-header-left 
{
    border-top-left-radius: 10px;
}

.sh-header-right 
{
    border-top-right-radius: 10px;
}

/* general styling */

.sh-widget 
{
    color: #4d4d4d;
    font-family: calibri-light, sans-serif;
    border-top: 1px #B6B6B6 solid;
}

.sh-widget a 
{
    color: #ED3022;
}

/* left column */

.sh-career-list 
{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.sh-career-list li 
{
    margin-bottom: 10px;
    padding: 5px 0px 5px 5px;
    min-height: 37px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.sh-career-list li a
{
    display: block;
    color: #4d4d4d;   
    font-size: 19px;
    font-weight: 100;
    padding-top: 8px;
}

.sh-career-list li .arrow 
{
    display: none;
}

.sh-career-list li.active .arrow 
{
    display: inline;
    position: absolute;
    top: -7px;
    right: -23px;
    color: #ED3022;
    font-size: 3.8em;
}

.sh-career-list .sh-career-list li.active
{
    background: #E5E5E5 url('http://comptia.azurewebsites.net/Content/img/briefcase-red.png') 5px 5px no-repeat;
    margin-bottom: 10px;
    padding-left: 35px;    
}


.sh-career-list li:hover a,  .sh-career-list li.active a 
{
    color: #DD231B;
    text-decoration: none;
}

.sh-icon2 
{
    float: left;
    background-image: url('img/icons2.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-top: -7px;
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.sh-career-list li a:hover .sh-icon2, .sh-career-list li.active a .sh-icon2 
{
    background-position: 0px -31px;
}


/* provider list */

.sh-provider-list 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sh-provider-list li 
{
    margin-bottom: 1px;
}

/* start section */

.sh-start h3
{
    color: #1490B7;    
}

.sh-start h2
{
    font-weight: 100;
    font-size: 36px;
	max-width: 600px;
}

.sh-start h4
{    
}

.sh-start p
{
    font-weight: 100;
    font-size: 17px !important;    
}

/* details section */

.sh-details 
{
    background-color: #e5e5e5;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 820px;
}

.sh-details .header 
{
    border-bottom: 1px solid #adadad;
    padding-bottom: 1em;
    display: none;
}

.sh-details .levels 
{
    display: none;
}

.sh-details .header > h2 
{
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 42px;
    line-height: 36px;
    color: #DD231B;
}

.sh-details .header > .details 
{
    padding-top: 5px;
    font-size: 16px;
}

/* level details */

.sh-details .level-details 
{
    background-color: #C1D42F;
    border-top-right-radius: 10px;
    width: 60%;
    min-height: 45px;
    position: relative;
}

.sh-details .level-details > h3 
{
    padding: 10px;
    color: #FFF;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0px;
} 

.sh-details .level-details > h3 > span.cert 
{
    position: relative;
    top: -4px;
    left: 5px;
}

.sh-details .level-details .level-index 
{
    position: absolute;
    right: 7px;
    top: 7px;
    color: #000;
    font-size: 24px;
    font-weight: 100;
    background-color: #FFF;
    padding: 3px 10px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
} 

.sh-details .level-details ul 
{
    display: none;
    margin: 0;
    padding-bottom: 15px;
}

.sh-details .level-details ul.active 
{
    display: block;
}

.sh-details .level-details ul li > a 
{
    color: #1a1a1a;
    font-size: 16px;
    text-decoration: none;
    padding-right: 20px;
}

.sh-details .level-details ul li:hover > a 
{
    color: #fff;
}

.sh-details .level-details ul li:hover 
{
    color: #FFF;
}

/* level details colors */

.sh-details .level-details.beginner-novice 
{
    background-color: #F5A81C;
    /* border-top-left-radius: 10px; */
}

.sh-details .level-details.beginner-novice .level-index 
{
    color: #F5A81C;
}

.sh-details .level-details.intermediate 
{
    background-color: #61A609;
    margin-left:30px;
}

.sh-details .level-details.intermediate .level-index 
{
    color: #61A609;
}

.sh-details .level-details.advanced 
{
    background-color: #0090B8;
    margin-left: 60px;
}

.sh-details .level-details.advanced .level-index 
{
    color: #0090B8;
}

.sh-details .level-details.specialist 
{
    background-color: #B14EC4;
    margin-left: 90px;
}

.sh-details .level-details.specialist .level-index 
{
    color: #B14EC4;
}

.sh-details .level-details.expert 
{
    background-color: #F16C22;
    /* border-bottom-right-radius: 10px; */
    margin-left: 120px;
}

.sh-details .level-details.expert .level-index 
{
    color: #F16C22;
}

p.sh-footnote {
	font-size: 12px;
	text-align: right;
	border-top: 1px solid #B6B6B6;
	padding-top: 10px;

}

/* override the color of the popover */

.popover 
{
    background-color: rgba(100,100,100,0.8);
    color: #FFF;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 12px;
    box-shadow: 0px 0px 0px black;
    font-family: calibri-light, sans-serif
    
}

.popover-title 
{
    background-color: transparent;
    padding-bottom: 0;
    color: #fff;
    border-bottom: none;
    font-weight: bold;
    text-transform: uppercase;
}

.popover span
{
    font-size: 16px;
}

.popover.right > .arrow {
    border-right-color: rgba(105,105,105,0.0) !important;
}
.popover.right > .arrow:after {
    border-right-color: rgba(105,105,105,0.85) !important;
}

.popover-content{
	padding-top: 2px;
}
/* additions by Brian */

.container {
    margin-top: 15px;
}

.container p {
    color: #4D4D4D;
    font-family: calibri-light, sans-serif;
    font-size: 21px;
}

.level-details > .popover {
    background: none !important;
    font-family: calibri-light, sans-serif !important;
    font-style: italic;
    font-size: 14px;
    color: #666666;
    text-transform: none !important;
    font-weight: 100 !important;
    width: 200px;
    border: none;
    box-shadow: 0px 0px 0px black;
    margin-top: 0;
    margin-left: 20px;
    top: 0px !important;
    line-height: 18px;
}

.level-details > .popover.right > .arrow{
    border-right-color:rgba(256,256,256,1);
    top: 0;
    margin-top: 14px;
}

li.active{
    background-color: rgb(226, 226, 226);
}

.popover {
    background-color:rgba(105, 105, 105, 0.85);
}

.popover-content span {
    font-size: 26px;
    line-height: 27px;
}

h4{
	font-weight: bold;
	font-size: 16px;
}

.provider-toggle { display: none; }

/* plus minus icons */

.shicon 
{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url('img/plusminus.png');
}

.shicon.shicon-minus 
{
    background-position: -5px -1px;
}

.shicon.shicon-plus 
{
    background-position: -5px 29px;
}

button.sh-print {
    background-color: #ED3022;
    border:none;
    color: white;
    padding: 5px 12px 3px;
    border-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    text-transform: uppercase;
    font-size: 16px;
}

/* print view */
@media print
{
  header, footer {display: none;}
  
  .sh-sidebar, button.sh-print { display: none; }
  
  .sh-details .level-details 
  {
      -webkit-print-color-adjust: exact;
      margin-left: 0px !important;
      border-bottom: 1px solid #ccc;
      padding-bottom: 1em;
      margin-bottom: 1em;
  }
}

/* download link */

.sh-download img 
{
    float: left;
}

.sh-download div
{
    padding-top: 45px;
}