<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="MongoConnection" connectionString="mongodb://tapster:cannoigoddamylokr@linus.mongohq.com:10047/Tapster" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership defaultProvider="MongoDBMembershipProvider">
      <providers>
        <clear />
        <add name="MongoDBMembershipProvider" type="MongoDB.Web.Providers.MongoDBMembershipProvider" applicationName="/" connectionStringName="MongoConnection" collection="Users" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <profile defaultProvider="MongoDBProfileProvider">
      <providers>
        <clear />
        <add name="MongoDBProfileProvider" type="MongoDB.Web.Providers.MongoDBProfileProvider" applicationName="/" connectionStringName="MongoConnection" collection="Profiles" />
      </providers>
    </profile>
    <roleManager defaultProvider="MongoDBRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="MongoDBRoleProvider" type="MongoDB.Web.Providers.MongoDBRoleProvider" applicationName="/" connectionStringName="MongoConnection" collection="Roles" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <healthMonitoring enabled="true">
      <rules>
        <clear />
        <add name="Failure Audit Events" eventName="Failure Audits" provider="MongoDBWebEventProvider" />
        <add name="Web Errors" eventName="All Errors" provider="MongoDBWebEventProvider" />
      </rules>
      <bufferModes>
        <add name="Buffer" maxBufferSize="1000" maxFlushSize="200" urgentFlushThreshold="500" regularFlushInterval="00:00:6" urgentFlushInterval="00:00:03" maxBufferThreads="1" />
      </bufferModes>
      <profiles>
        <add name="Throttle" minInstances="1" maxLimit="1000" minInterval="00:00:01" />
      </profiles>
      <providers>
        <remove name="MongoDBWebEventProvider" />
        <add name="MongoDBWebEventProvider" type="MongoDB.Web.Providers.MongoDBWebEventProvider" bufferMode="Buffer" connectionStringName="MongoConnection" collection="WebEvents" />
      </providers>
    </healthMonitoring>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    <httpRuntime maxRequestLength="2097151" executionTimeout="999999"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Hunter@tapsterNFC.com">
        <network enableSsl="true" port="587" host="email-smtp.us-east-1.amazonaws.com" userName="AKIAILSKBQVHEHX3ELZA" password="AnljjYXe7RlYK2TuM5mERWEMEeepCCwPcpwZ8krW4aeW" />
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
