
@{
    ViewBag.Title = "Home Page";
}

@section title {    
    <h3 class="title">
        <i class="icon-dashboard"></i>
        Home
    </h3>
    <h5>
        <span></span>
    </h5>
}

@section stats {
}

@section breadcrumbs {
<div id="breadcrumbs">
    <div class="breadcrumb-button blue">
        <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">
        <i class="icon-dashboard"></i> Dashboard
        </span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>

</div>
}

<div class="row">

  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="title">Edit Settings</div>
      </div>

      <div class="box-content padded">
        <a href="@Url.Action("Index", new{ area = "Settings", controller = "Level" })" class="btn btn-info">Levels</a>
        <a href="@Url.Action("Index", new{ area = "Settings", controller = "Provider" })" class="btn btn-info">Providers</a>
        <a href="@Url.Action("Index", new{ area = "Settings", controller = "Certification" })" class="btn btn-info">Certifications</a>
        <a href="@Url.Action("Index", new{ area = "Settings", controller = "Career" })" class="btn btn-info">Careers</a>
      </div>
    </div>
  </div>
</div>


@section scripts {
}